@import "tailwindcss";

@font-face {
  font-family: "Stack";
  src: url("/fonts/stack.ttf") format("truetype");
}

@font-face {
  font-family: "playfair";
  src: url("/fonts/playfair.ttf") format("truetype");
}

.font-stack {
  font-family: "Stack", sans-serif;
}

.font-pf {
  font-family: "playfair", sans-serif;
}
